<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.NeonSoft.neopowermenu">


    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".neopowermenu"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NeoPowerMenu"
        android:theme="@style/ThemeBaseDark"
        android:fullBackupContent="true"
        android:persistent="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Material Power Menu with Reveal and other Animations (Original from naman14)"/>
        <meta-data
            android:name="xposedminversion"
            android:value="54"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|uiMode"
            android:exported="true"
            android:label="NeoPowerMenu">
            <!--intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
            <!-- Register to handle email attachments -->
            <!-- WARNING: Do NOT use android:host="*" for these as they will not work properly -->
            <intent-filter>
                <!-- needed for properly formatted email messages -->
                <data
                    android:mimeType="application/vnd.neopowermenu"
                    android:pathPattern=".*\\.nps"
                    android:scheme="content"/>
                <!-- needed for mangled email messages -->
                <data
                    android:mimeType="application/neopowermenu"
                    android:pathPattern=".*\\.nps"
                    android:scheme="content"/>
                <!-- needed for mangled email messages -->
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.nps"
                    android:scheme="content"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <!-- Register to handle file opening -->
            <intent-filter>
                <data
                    android:mimeType="text/*"
                    android:pathPattern=".*\\.nps"
                    android:scheme="file"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".SettingsActivity"
            android:enabled="true"
            android:label="NeoPowerMenu"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name="addShortcut"
            android:configChanges="orientation|screenSize|screenLayout|uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="NeoPowerMenu"
            android:theme="@style/TransparentApp">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".xposed.XposedMainActivity"
            android:configChanges="orientation|screenSize|screenLayout|uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="NeoPowerMenu"
            android:theme="@style/TransparentApp">

        </activity>

        <service
            android:name=".services.ScreenRecordingService"
            android:exported="true"
            android:label="NeoPowerMenu">
        </service>
        <service android:name=".services.ScreenOffService"
            android:exported="true"
            android:label="NeoPowerMenu"/>

        <service android:name=".services.TorchService">
            <intent-filter>
                <action android:name="neopowermenu.intent.action.TOGGLE_TORCH"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ErrorActivity"
            android:configChanges="orientation|screenSize|screenLayout|uiMode"
            android:process=":error_activity"
            android:theme="@style/ThemeBaseDark">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".deviceAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="de.NeonSoft.neopowermenu.Receiver.bootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>


